.about {
  .interests {
    p {
      margin-bottom: 0.5rem;
    }
  }

  .mailto {
    text-align: center;
  }

  .headshot {
    border-radius: 6px;
    height: auto;
    width: 100%;
    max-width: 500px;
    max-height: 500px;
    object-fit: cover;
  }
}
