.projects {
  .project {
    padding: 60px 0;

    .project-image,
    .project-content {
      display: flex;
      align-content: center;
      flex-wrap: wrap;
      text-align: left;
    }

    .project-content {
      .content {
        padding-bottom: 10px;

        .summary {
          padding-top: 20px;
        }
      }

      .content,
      .links {
        width: 100%;
        padding-top: 10px;

        a {
          text-decoration: none;
          color: inherit;
        }
      }

      .dev-icon {
        text-align: center;
        width: 75px;
    
        .icon {
          font-size: 75px;
        }
    
        .icon-name {
          font-size: 1rem;
          margin: .2rem;
        }
      }
    }

    .project-image {
      img {
        width: 100%;
        max-height: 350px;
        object-fit: cover;
        border-radius: 3px;
        object-position: top;
      }
    }
  }

  .project-panels:nth-child(even) {
    .row {
      flex-direction: row-reverse;
    }
  }
}

@media screen and (max-width: 700px) {
  .projects {
    .project-image {
      padding-bottom: 30px;
    }

    .links {
      display: flex;
      justify-content: center;
    }
  }
}
