.projects {
  .card {
    margin: 10px 0;
  }

  .card-body {
    padding: 0;

    img {
      width: 100%;
      padding-bottom: 20px;
      border-radius: 3px;
    }
  }

  .card-content {
    padding: 0px 15px;
  }

  .card-footer {
    padding: 15px;
  }
}
