@import "../shared/Palette.scss";

.skills {
  .skill-items {
    color: $col-text-title;
    font-weight: 500;
    padding: 20px 0;

    .col {
      min-width: 200px;
      max-width: 220px;
      text-shadow: 0 0 25px $col-shadow;
    }
  }

  .dev-icon {
    width: 100%;

    .icon-override,
    .icon {
      font-size: 75px;
      width: 75px;
    }

    .icon-name {
      font-size: 1rem;
      margin: 0.2rem;
    }
  }

  .skills-input {
    transition: 0.5s;
    border-radius: 6px;
    background: $col-bg-light;
    color: $col-text-main;
    border: 1px solid $col-bg-dark;
    width: 50%;
    font-size: 2em;
    margin: 10px 0;
    text-align: center;

    &:focus-within {
      width: 100%;
    }
  }
}

@media screen and (max-width: 700px) {
  .skills {
    .col {
      flex-basis: 0;
    }

    .dev-icon {
      text-align: center;
    }

    .search {
      text-align: center;
    }
  }
}
