@import "../shared/Palette.scss";

.technical {
  .skills {
    color: $col-text-title;
    font-weight: 500;
    padding: 20px 0;
  }

  .dev-icon {
    padding: 5px 0;
    width: 100%;

    .icon {
      font-size: 75px;
    }

    .icon-name {
      font-size: 1rem;
      margin: .2rem;
    }
  }
}

@media screen and (max-width: 700px) {
  .technical {
    .col {
      flex-basis: 0;
    }

    .dev-icon {
      text-align: center;
    }

    .search {
      text-align: center;
    }
  }
}
