@import "../shared/Palette.scss";

.skills {
  .skill-items {
    font-weight: 500;
    padding: 20px 0;
    border-radius: 6px;
    padding: 30px;
    margin-bottom: 30px;
    background: ft($theme-dark, $col-bg-light);

    @include themed() {
      color: t($col-text-title);
    }

    .col {
      min-width: 200px;
      max-width: 220px;

      @include themed() {
        text-shadow: 0 0 25px t($col-shadow);
      }
    }
  }

  .dev-icon {
    width: 100%;

    .icon-override,
    .icon {
      font-size: 75px;
      width: 75px;
    }

    .icon-name {
      font-size: 1rem;
      margin: 0.2rem;
    }
  }

  .skills-small {
    .icon-override,
    .icon {
      font-size: 30px;
      width: 30px;
    }

    .icon-name {
      font-size: 0.6rem;
      margin: 0.2rem;
    }

    .col {
      min-width: 125px !important;
      max-width: 125px !important;
    }
  }

  .skills-input {
    transition: 0.5s;
    border-radius: 6px;
    width: 50%;
    font-size: 2em;
    margin: 10px 0;
    text-align: center;

    @include themed() {
      background: t($col-bg-light);
      color: t($col-text-main);
      border: 1px solid t($col-bg-dark);
    }

    &:focus-within {
      width: 100%;
    }
  }
}

@media screen and (max-width: 700px) {
  .skills {
    .col {
      flex-basis: 0;
    }

    .dev-icon {
      text-align: center;
    }

    .search {
      text-align: center;
    }
  }
}
