.Nav-panel {
  padding: 10px;
  height: 62px;
  background-color: #333333;
  overflow: hidden;
  z-index: 1;

  .Nav-container {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .Nav-logo {
    float: left;
  }

  .Nav-buttons {
    float: right;
  }

  ul {
    list-style-type: none;
    color: #fff;
    padding: 0 10px;
    margin: 0;
    display: flex;

    li {
      font-weight: 500;
    }
  }

  .option {
    a {
      padding: 21px;

      &:link,
      &:visited {
        text-decoration: none;
        color: #ffffff;
      }

      &:hover {
        text-decoration: underline;
        background-color: #ddd;
        color: black;
      }
    }
  }

  .Nav-active {
    background-color: rgba(75, 108, 183, 1);
  }
}

@media screen and (max-width: 700px) {
  .Nav-panel {
    .Nav-logo {
      display: none;
    }
  }
}