@import "../shared/Palette.scss";

.blog {
  .blog-cards {
    padding: 20px 0;
  }

  .card {
    border: 0;
    border-radius: $border-radius;
    margin: 10px 0;
    text-align: left;

    a {
      width: 100%;

      &:link,
      &:visited {
        text-decoration: none;
      }

      svg {
        height: 100px;
        margin: 50px 0;
        width: 100%;

        @include themed() {
          color: t("$col-text-muted");
        }
      }

      img {
        max-height: 250px;
        object-fit: cover;
        border-top-right-radius: $border-radius;
        border-top-left-radius: $border-radius;
      }
    }

    .card-footer {
      border: 0;
    }
  }

  .nav-link {
    padding: 0;
  }
}

@media screen and (max-width: 700px) {
  .blog {
    .blog-placeholder {
      text-align: center;
    }
  }
}
