@import "../shared/Palette.scss";

.post {
  .container {
    text-align: left;
  }

  .section-title {
    margin-bottom: 5px;
    text-transform: none;
  }

  .section-title,
  .blog-date {
    margin: 10px 0;
    text-align: center;
  }

  .blog-content {
    .long-line {
      margin: 40px auto;
    }
  }

  .blog-back {
    font-size: 20px;
    font-style: italic;
    padding: 0;
  }

  .tags {
    display: flex;
    justify-content: center;
  }

  iframe,
  img {
    border-radius: $border-radius;
    height: auto;
    max-width: 100%;
  }

  iframe {
    max-width: 750px;
  }

  .featured {
    text-align: center;
  }

  .code-snippet {
    border-radius: $border-radius;
    margin: 50px auto;
    width: 75%;

    @include themed() {
      box-shadow: 0 0 25px t($col-shadow);
    }
  }

  .text-muted {
    margin-top: 10px;
    text-align: center;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding-top: 20px;
  }
}

@media screen and (max-width: 700px) {
  .post {
    .code-snippet {
      width: 100%;
    }
  }
}
