@import "./Palette.scss";

@keyframes reverse-rotate {
  33% {
    transform: rotateY(-180deg);
  }
  66% {
    transform: rotateY(-180deg) rotateX(-180deg);
  }
  100% {
    transform: rotateX(-180deg) rotateZ(-180deg);
  }
}

.loading-container {
  perspective: 120px;
  width: 120px;
  height: 120px;
  position: relative;
  margin: "auto";
  position: "absolute";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  .box {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    transform: rotate(0);
    background: $col-main-brand;
    animation: reverse-rotate 3s infinite;
  }
}
