// Brand colors
$col-main-brand: #ffd166;
$col-sub-brand: #118ab2;
$col-accent-zing: #ef476f;

$col-accent-high: #06d6a0;
$col-accent-low: #118ab2;

// Text colors
$col-text-main: #eeeeee;
$col-text-title: #cccccc;
$col-text-heading: #dddddd;
$col-text-muted: #999999;

// background colours
$col-shadow: #222222;
$col-bg-light: #1f242c;
$col-bg-dark: #1d424e;

// gradient colours
$col-back-grad-high: #4b6cb74d;
$col-back-grad-low: #1828484d;

$col-back-grad-sketch-high: #118ab24d;
$col-back-grad-sketch-low: #18284844;
