
// Brand colors
$col-main-brand: #118AB2;
$col-sub-brand: #EF476F;
$col-accent-zing: #06D6A0;

$col-accent-high: #FFD166;
$col-accent-low: #118AB2;

// Text colors
$col-text-main: #eeeeee;
$col-text-title: #cccccc;
$col-text-heading: #dddddd;
$col-text-muted: #999999;

// background colours
$col-bg-light: #222222;
$col-bg-dark: #111111;

// gradient colours
$col-back-grad-high: #4b6cb74d;
$col-back-grad-low: #1828484d;

$col-back-grad-sketch-high: #4b6cb74d;
$col-back-grad-sketch-low: #18284800;