@import "./Palette.scss";

.section {
  color: $col-text-main;
  margin: 0 auto;
  padding: 75px 0;
  position: relative;

  .section-title {
    color: $col-text-title;
    display: block;
    font-size: 2.25em;
    font-weight: 700;
    margin: 0 0 15px;
    padding: 0;
    text-align: center;
    text-transform: capitalize;
  }

  .section-content {
    margin: 20px 0;
  }

  h3,
  h4,
  h5,
  h6 {
    color: $col-text-heading;
    font-weight: 700;
    text-transform: capitalize;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 0.85em;
  }

  h6 {
    font-size: 0.75em;
  }

  p {
    margin: 0.5rem 0;
  }
}

.centered {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.line,
.short-line,
.long-line {
  background: $col-text-title;
  display: block;
  height: 1px;
  padding: 0 !important;
}

.line {
  width: 200px;
}

.short-line {
  width: 30px;
}

.long-line {
  width: 50vw;
}

.dot:after {
  content: "•";
}

.dash:after {
  content: "-";
}

.text-column {
  text-align: left;
}

.col-item {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0;

  p {
    width: 100%;
  }

  &::after {
    content: "•";
  }

  &:last-child::after {
    content: "";
  }
}

.card-columns {
  column-count: 2 !important;
  padding: 10px;
}

.card {
  transition: 0.5s;

  &:hover {
    transform: scale(1.02);
  }
}

// https://stackoverflow.com/questions/39531511/cards-crops-bootstrap-4
.card-columns .card {
  display: inline-block;
  width: 100%;
}

.images {
  margin: 25px 0;

  .col-item::after {
    content: "";
  }

  .image-item {
    border-radius: 50%;
    height: 75px;
    object-fit: cover;
    width: 75px;
  }
}

.carousel-indicators {
  li {
    height: 2px;
    width: 30px;
    margin: 2px;
    background-color: white;
    opacity: 0.5;
    transition: opacity 0.6s ease-in-out;

    &.active {
      opacity: 1;
    }
  }
}

.carousel-item {
  transition: transform 1s ease-in-out;

  &.active {
    &.carousel-item-left {
      transform: translateX(-100%);
    }
    
    &.carousel-item-right {
      transform: translateX(100%);
    }
  }
}

.timeline {
  .vertical-timeline-element-content {
    color: $col-text-main;
  }
}

@mixin section-coloring($bg, $color, $card-color) {
  background-color: $bg;

  .short-line,
  .line {
    background-color: $color;
  }

  .col-item::after {
    color: $color;
  }

  .dot::after,
  .dash::after {
    color: $color;
    margin: 0 10px;
  }

  li::marker {
    color: $color;
  }

  .bg-dark {
    background-color: $card-color !important;
  }

  .dev-icon {
    transition: 0.5s;

    &:hover {
      color: $color;
      transform: scale(1.2);
    }
  }

  .image-item {
    box-shadow: 0 0 25px $card-color;
  }

  .timeline {
    text-align: left;
    margin-top: 20px;

    .vertical-timeline-element-icon {
      background-color: $color;
    }
  
    .vertical-timeline-element-content {
      background-color: $card-color;
      box-shadow: 0 0 25px $card-color;
    }
  
    .vertical-timeline-element-content-arrow  {
      border-right: 7px solid $card-color;
    }
  }  
}

@mixin alternating-section($side, $bg, $color, $card-color: $col-bg-light) {
  div:nth-child(#{$side}) {
    .section {
      @include section-coloring($bg, $color, $card-color);
    }
  }

  .section:nth-child(#{$side}) {
    @include section-coloring($bg, $color, $card-color);
  }
}

.app {
  @include alternating-section(
    "odd",
    $col-bg-light,
    $col-accent-zing,
    $col-bg-dark
  );
  @include alternating-section("even", $col-bg-dark, $col-sub-brand);
}

@media screen and (max-width: 700px) {
  .col {
    flex-basis: revert;
    width: 100%;

    ul {
      margin: 20px 0 !important;
    }
  }

  .section {
    text-align: left;
  }

  .text-column,
  .section-content {
    margin: 10px 0;
  }

  .col-item {
    display: block;
  }

  .images {
    .col {
      flex-basis: 0;
    }

    .col-item {
      display: flex !important;
    }
  }
}

@media screen and (max-width: 770px) {
  .card-columns {
    column-count: 1 !important;
    padding: 10px;
  }
}
