
$logo-size: 150px;

@keyframes pastel-rgb {
    0% {
        color: hsl(360, 90%, 65%);
    }
    
    10% {
        color: hsl(0, 90%, 65%);
    }

    20% {
        color: hsl(36, 90%, 65%);
    }

    30% {
        color: hsl(72, 90%, 65%);
    }

    40% {
        color: hsl(108, 90%, 65%);
    }

    50% {
        color: hsl(144, 90%, 65%);
    }

    60% {
        color: hsl(180, 90%, 65%);
    }

    70% {
        color: hsl(216, 90%, 65%);
    }

    80% {
        color: hsl(252, 90%, 65%);
    }

    90% {
        color: hsl(288, 90%, 65%);
    }

    100% {
        color: hsl(324, 90%, 65%);
    }
}

.logo {
    font-family: 'Anton', sans-serif;
    font-size: $logo-size;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-right: 30px;

    svg {
        width: $logo-size + 12px;
        position: absolute;
        rotate: 10deg;
        filter: drop-shadow(4px 4px 4px rgb(0 0 0 / 0.4)); 
        animation: pastel-rgb 5s infinite;
    }
}

