@import "../shared/Palette.scss";

.sketch-backstretch {
  align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: ft($theme-dark, $col-text-main);
  display: flex;
  height: 100vh;
  justify-content: center;
  margin-bottom: -70px;
  text-align: center;

  transition: 0.5;

  @include themed() {
    background: t($col-bg-light);
    background: linear-gradient(0deg,
        t($col-back-grad-sketch-high),
        t($col-back-grad-sketch-low) 60%);
  }

  canvas {
    position: absolute;
    z-index: -1;
  }

  .backstretch-headline {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;

    .backstretch-main {
      font-size: calc(30px + 3vw);
      line-height: calc(30px + 3vw);
      font-weight: 700;

      @include themed() {
        text-shadow: 0 0 50px t($col-back-text-shadow);
      }
    }

    .backstretch-role {
      display: flex;
      align-items: center;

      .backstretch-tag {
        font-size: calc(15px + 1vw);    
        line-height: calc(15px + 1vw);

        font-weight: 400;

        @include themed() {
          text-shadow: 0 0 50px t($col-back-text-shadow);
        }
      }

      .backstretch-logo {
        img {
          height: 20px;
        }
      }
    }

    .line {
      @include themed() {
        background-color: t($col-main-brand);
      }
    }
  }


  .my-logo {
    height: 7em;
    position: relative;
    top: 35px;
  }
}

.scroll-indicator {
  bottom: 28%;
  display: flex;
  justify-content: space-around;
  position: absolute;
}

@media screen and (max-width: 1024px) {
  .sketch-backstretch {
    background-position: 100%;
  }
}

@media screen and (max-width: 850px) {
  .sketch-backstretch {
    .backstretch-headline {
      .logo {
        padding-right: 0px;
      }
    }

    .backstretch-logo {
      padding-top: 10px;
    }

    .backstretch-main {
      font-size: 50px;
      padding-bottom: 20px;
    }

    .backstretch-role,
    .backstretch-headline {
      flex-direction: column;
    }
  }

  .scroll-indicator {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .sketch-backstretch {
    .backstretch-main {
      font-size: 30px;
    }

    .backstretch-tag {
      font-size: 15px;
    }   
  }
}