@import "../shared/Palette.scss";

.cv {
  .row {
    margin: 30px 0;
  }

  .pdf-canvas {
    border-radius: 6px;
    margin: 20px 0;
    transition: 0.5s;

    &:hover {
      transform: scale(1.05);
    }

    @include themed() {
      box-shadow: 0 0 25px t($col-shadow);
    }
  }
}

@media screen and (max-width: 700px) {
  .cv {
    .col {
      text-align: center !important;
    }
  }
}
