.Section,
.Section-alt {
  margin: 0 auto;
  padding: 75px 0;
  position: relative;
}

.Section {
  background-color: #fff;
}

.Section-alt {
  background-color: #eee;
}

.Section-title {
  margin: 0 0 15px;
  padding: 0;
  font-size: 2.25em;
  font-weight: 300;
  color: #0f1025;
  text-transform: uppercase;
  display: block;
  text-align: center;
  letter-spacing: 0.1em;
}

.Section-content {
  margin-top: 30px;
}

.Section h3,
.Section-alt h3 {
  font-size: 1.5em;
  color: #222;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.Section h4,
.Section-alt h4 {
  font-size: 1em;
  color: #222;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.Section h6,
.Section-alt h6 {
  font-size: 0.75em;
  color: #222;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}


.Centered {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.Line {
  display: block;
  width: 290px;
  height: 3px;
  padding: 0 !important;
  background: #ccc;
}

.Short-line {
  display: block;
  width: 30px;
  height: 3px;
  padding: 0 !important;
  background: #ccc;
}

.Text-column {
  text-align: left;
}

.Col-item {
  display: flex;
  padding: 0;
}

.Col-item p {
  width: 100%;
}
