@import "../shared/Palette.scss";

.navbar {
  height: 70px;
  transition: 0.5s;
  padding: 0;

  nav {
    display: flex;
  }

  .nav-link {
    transition: 0.5s;
    text-align: center;
    line-height: 15px;
    display: flex;

    svg,
    .nav-label {
      margin: auto 0px;
    }

    svg {
      font-size: calc(20px + 0.25vw);
    }

    .nav-label {
      margin-left: 10px;
    }

    &.active {
      color: $col-main-brand !important;
    }

    &.active,
    &:hover {
      font-weight: 700;
    }
  }
}

@media screen and (max-width: 1024px) {
  .navbar-nav {
    .nav-link {
      flex-basis: 0;
      font-size: 11px;
    }
  }
}

@media screen and (max-width: 700px) {
  .navbar-nav {
    .nav-link {
      div {
        display: none;
      }

      svg {
        font-size: calc(25px + 0.25vw);
      }
    }
  }
}
