@import "../shared/Palette.scss";

.navbar {
  transition: 0.5s;

  nav {
    display: flex;
  }

  .nav-link {
    &.active {
      color: $col-main-brand !important;
    }

    &.active,
    &:hover {
      font-weight: 700;
    }
  }
}

@media screen and (max-width: 1024px) {
  .navbar-nav {
    .nav-link {
      flex-basis: 0;
      font-size: 11px;
    }
  }
}
