.Nav-panel {
  height: 50px;
  background-color: #333333;
  overflow: hidden;
  z-index: 1;
  text-transform: capitalize !important;

  .Nav-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Nav-logo {
    float: left;
    display: none;
  }

  .Col-item:after {
    content: "";
  }

  .option {
    a {
      &:link,
      &:visited {
        text-decoration: none;
        color: #ffffff;
      }
    }

    &:hover {
      background-color: #ddd;

      a {
        color: #000000;
      }
    }
  }

  .Nav-button {
    display: block;
    padding: 19px 1em;
    text-align: center;
    color: #ffffff;
    font-weight: 500;
    transition: 0.3s;

    .Nav-active {
      color: rgba(75, 108, 183, 1) !important;
    }
  }
}

@media screen and (max-width: 1024px) {
  .Nav-panel {
    .Nav-logo {
      display: none;
    }

    .Nav-button {
      padding: 22px 1em;
    }

    .col,
    .col-md-auto {
      flex-basis: 0;
      font-size: 12px;
    }

    .Col-item {
      display: flex;
    }
  }
}

@media screen and (max-width: 360px) {
  .Nav-panel {
    .Nav-button {
      padding: 23px 2px;
      font-size: 11px;
    }
  }
}
