.share-panel {
  display: flex;
  flex-direction: column;
  left: 0;
  list-style: none;
  margin: 0;
  padding-left: 0;
  position: fixed;
  top: 40%;
  width: 40px;
  z-index: 9999;
  transition: 0.5s;
}

@media screen and (max-width: 600px) {
  .share-panel {
    display: flex;
    flex-direction: unset;

    justify-content: center;
    padding: 0;
    position: fixed;
    top: 97%;
    width: 100%;
  }
}
