@import "../shared/Palette.scss";

.blog-post {
  padding: 30px 0;
  text-align: left;

  .section-title {
    margin-bottom: 5px;
    text-transform: none;
  }

  .section-title,
  .blog-date {
    text-align: center;
  }

  .blog-back {
    font-size: 20px;
    font-style: italic;
    padding: 0;
  }

  .tags {
    font-size: 16px;
    display: flex;
    justify-content: center;

    .tag {
      text-transform: uppercase;
      margin-top: 10px;
    }
  }
 
  img {
    border-radius: 6px;
  }

  .featured,
  .wp-block-image,
  .wp-block-embed {
    text-align: center;
  }
}
