.Blog-post {
  text-align: left;
  padding: 30px 0;

  .Section-title {
    text-align: left;
    text-transform: none;
    margin-bottom: 5px;
  }

  .Blog-back
  {
    font-size: 20px;
    padding: 0;
    font-style: italic;
  }

  .Tags {
    text-transform: capitalize;
    padding: 3px 15px;

    .Col-item:after {
      padding: 0 10px;
    }
  }

  .Blog-excerpt {
    color: #999999;
    font-style: italic;
  }

  img {
    border-radius: 6px;
  }

  .Featured,
  .wp-block-image,
  .wp-block-embed {
    text-align: center;
  }
}
