@import "../shared/Palette.scss";

.post {

  .container {
    text-align: left;
  }

  .section-title {
    margin-bottom: 5px;
    text-transform: none;
  }

  .section-title,
  .blog-date {
    text-align: center;
  }

  .blog-back {
    font-size: 20px;
    font-style: italic;
    padding: 0;
  }

  .tags {
    display: flex;
    justify-content: center;
  }
 
  iframe,
  img {
    border-radius: 6px;
    width: 100%;
    height: auto;
  }

  img {
    max-width: 500px;
  }

  iframe {
    max-width: 750px;
  }

  .featured,
  .wp-block-image,
  .wp-block-embed {
    text-align: center;
  }
}
