
// Brand colors
$col-main-brand: #4b6cb7;
$col-sub-brand: #355e80;
$col-accent-high: #b74b77;
$col-accent-low: #803554;
$col-accent-zing: #b7ad4b;

// Text colors
$col-text-main: #eeeeee;
$col-text-title: #cccccc;
$col-text-heading: #dddddd;
$col-text-muted: #999999;

// background colours
$col-bg-light: #222222;
$col-bg-dark: #111111;

// gradient colours
$col-back-grad-high: #4b6cb74d;
$col-back-grad-low: #1828484d;