.about {
  .headshot {
    border-radius: 6px;
    height: 400px;
    object-fit: cover;
    width: 300px;
  }

  .interests {
    p {
      margin-bottom: .5rem;
    }
  }

  .mailto {
    text-align: center;
  }
}
