.Technical {
  .Skills {
    font-weight: 500;
    color: #bbbbbb;
    padding: 20PX 0;

    .Dev-icon {
      width: 100%;
      padding: 5px 0;

      .Icon {
        font-size: 75px;
      }

      .Icon-name {
        font-size: 1rem;
        margin: 0.2rem;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .Technical {
    .col {
      flex-basis: 0;
    }

    .Dev-icon {
      text-align: center;
    }
  }
}
