@import "../shared/Palette.scss";

.navbar {
  height: 70px;
  padding: 0;
  transition: 0.5s;

  nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
  }

  .nav-link {
    display: flex;
    line-height: 15px;
    text-align: center;
    transition: 0.5s;
    margin: 5px 0;

    svg,
    .nav-label {
      margin: auto 0;
    }

    svg {
      font-size: calc(20px + 0.25vw);
      width: calc(20px + 0.25vw);
    }

    .nav-label {
      margin-left: 10px;
    }

    &.active {
      @include themed() {
        color: t($col-main-brand) !important;
      }
    }

    &.active,
    &:hover {
      font-weight: 700;
    }
  }
}

@media screen and (max-width: 1024px) {
  .navbar-nav {
    .nav-link {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 950px) {
  .navbar {
    nav {
      flex-wrap: wrap !important;
    }

    .nav-link {
      width: 20%;
      height: 20px;
      justify-content: center;
      align-items: center;
    }

    .navbar-nav {
      .nav-link {
        div {
          display: none;
        }

        svg {
          font-size: 15px;
          width: 20px;
          position: relative;
          top: -7px;
        }
      }
    }
  }
}