@import "./Portfolio.scss";
@import "./Palette.scss";

.section-light {
    @include portfolio-styling($col-bg-light, $col-accent-zing, $col-bg-dark);
}

.section-dark {
    @include portfolio-styling($col-bg-dark, $col-sub-brand, $col-bg-light);
}

.section,
.section-light,
.section-dark {
    margin: 0 auto;
    padding: 75px 0;
    position: relative;

    @include themed() {
        color: t($col-text-main);
    }

    .section-title {
        color: $col-text-title;
        display: block;
        font-size: 2.25em;
        font-weight: 700;
        margin: 0 0 15px;
        padding: 0;
        text-align: center;
        text-transform: capitalize;

        @include themed() {
            color: t($col-text-title);
        }
    }

    .section-content {
        margin: 20px 0;
    }

    p {
        margin: 0.5rem 0;
    }

    .section-icon {
        font-size: calc(20px + 0.25vw);
        margin-top: 20px;
        width: calc(20px + .25vw);
    }
}

@include alternating-section-colouring() using ($bg, $color, $alt-color) {

    // Set the background color of the section here
    @include themed() {
        background-color: t($bg);
    }

    .section-icon {
        @include themed() {
            color: t($color);
        }
    }
}

@media screen and (max-width: 700px) {

    .section-dark,
    .section-light,
    .section {
        .container {
            padding-top: 20px;
            text-align: left;
        }

        .section-icon {
            text-align: center !important;
        }
    }

    .section-content {
        margin: 10px 0;
    }
}