.triangle-divider {
  box-sizing: content-box;
  height: 0;
  overflow: hidden;
  padding-left: 50%;
  padding-top: 100px;
  position: relative;
  top: -75px;
  width: 50%;

  div {
    border-left: 2000px solid transparent;
    border-right: 2000px solid transparent;
    border-top: 100px solid transparent;
    height: 0;
    margin-left: -2000px;
    margin-top: -100px;
    width: 0;
  }
}


