@import "../shared/Palette.scss";

.profiles {
  @include themed() {
    background-color: t($col-main-brand) !important;
    color: t($col-contact-text) !important;
  }

  .section-title,
  h3 {
    @include themed() {
      color: t($col-contact-text);
    }
  }

  h3 {
    text-transform: none;
  }

  .line,
  .long-line,
  .short-line {
    @include themed() {
      background-color: t($col-contact-text) !important;
    }
  }

  .section-icon {
    @include themed() {
      color: t($col-contact-text) !important;
    }
  }

  .socials {
    justify-content: center;

    .social-platform {
      align-items: center;
      border-radius: 50%;
      display: flex;
      height: 175px;
      justify-content: center;
      margin: 0 10px;
      transition: 0.5s;
      width: 175px;

      &:hover {
        @include themed() {
          background-color: #{t($col-contact-text)}cc;
        }

        .dev-icon {
          transform: scale(1.2);
          transition-delay: 0.1s;

          @include themed() {
            color: t($col-main-brand) !important;
          }
        }
      }
    }

    a {
      &:link,
      &:visited {
        text-decoration: none;
        @include themed() {
          color: t($col-contact-text);
        }
      }
    }
  }

  .dev-icon {
    width: 100%;

    .icon-override,
    .icon {
      font-size: 75px;
      width: 75px;
    }

    .icon-name {
      font-size: 1rem;
      font-weight: 400;
      margin: 0.2rem;
    }
  }

  .contact-form {
    width: 500px;

    .contact-input {
      margin: 10px 0;

      @include themed() {
        background: t($col-contact-text);
        border: 1px solid t($col-bg-dark);
        color: t($col-contact-input);
      }
    }

    .btn {
      width: 100%;
    }
  }

  .contact-response {
    padding-bottom: 15px;
    transition: 2s;
  }
}

@media screen and (max-width: 700px) {
  .profiles {
    .form-title,
    .contact-response {
      text-align: center;
    }
  }
}
