.backstretch {
  align-items: center;
  background: rgb(51, 51, 51);
  background: linear-gradient(
    -180deg,
      rgba(75, 108, 183, .3),
      rgba(24, 40, 72, .3)
    ),
    url("../../assets/backstretch.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
  display: flex;
  height: calc(100vh - 50px);
  justify-content: center;
  text-align: center;
  transition: 0.5;

  .backstretch-main {
    font-size: 75px;
    font-weight: 700;
  }

  .backstretch-tag {
    font-size: 25px;
    font-weight: 400;
  }

  .line {
    background-color: rgba(75, 108, 183, 1);
  }
}

@media screen and (max-width: 1024px) {
  .backstretch {
    background-position: 100%;
  }
}

@media screen and (max-width: 850px) {
  .backstretch {
    background-position: 94%;
    .backstretch-main {
      font-size: 50px;
    }
  }
}

@media screen and (max-width: 550px) {
  .backstretch {
    background-position: 22%;

    .backstretch-main {
      font-size: 30px;
    }

    .backstretch-tag {
      font-size: 15px;
    }
  }
}
