@import "../shared/Palette.scss";

@font-face {
  font-family: 'RoadRage';
  src: local('RoadRage'), url(../../assets/Roadrage-owgBd.otf) format('opentype');
}

.sketch-backstretch {
  align-items: center;
  background: $col-bg-light;
  background: linear-gradient(
    0deg,
    $col-back-grad-sketch-high,
    $col-back-grad-sketch-low
  );
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $col-text-main;
  display: flex;
  height: 100vh;
  justify-content: center;
  text-align: center;
  transition: 0.5;

  canvas {
    position: absolute;
    z-index: -1;
  }

  .backstretch-headline {
    .backstretch-main {
      font-size: calc(30px + 3vw);
      text-shadow: 0 0 50px $col-bg-dark;
      font-family: RoadRage;
    }

    .backstretch-tag {
      font-size: calc(15px + 1vw);
      font-weight: 400;
      text-shadow: 0 0 50px $col-bg-dark;
    }

    .line {
      background-color: $col-accent-high;
    }
  }
}

@media screen and (max-width: 1024px) {
  .sketch-backstretch {
    background-position: 100%;
  }
}

@media screen and (max-width: 850px) {
  .sketch-backstretch {
    background-position: 94%;
    .backstretch-main {
      font-size: 50px;
    }
  }
}

@media screen and (max-width: 550px) {
  .sketch-backstretch {
    background-position: 22%;

    .backstretch-main {
      font-size: 30px;
    }

    .backstretch-tag {
      font-size: 15px;
    }
  }
}
