@import "../shared/Palette.scss";

.sketch-backstretch {
  align-items: center;
  background: $col-bg-light;
  background: linear-gradient(
    0deg,
    $col-back-grad-sketch-high,
    $col-back-grad-sketch-low
  );
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $col-text-main;
  display: flex;
  height: 100vh;
  justify-content: center;
  text-align: center;
  transition: 0.5;
  margin-bottom: -70px;

  canvas {
    position: absolute;
    z-index: -1;
  }

  .backstretch-headline {
    .backstretch-main {
      font-size: calc(30px + 3vw);
      font-weight: 700;
      text-shadow: 0 0 50px $col-bg-dark;
    }

    .backstretch-tag {
      font-size: calc(15px + 1vw);
      font-weight: 400;
      text-shadow: 0 0 50px $col-bg-dark;
    }

    .line {
      background-color: $col-sub-brand;
    }
  }
}

.scroll-indicator {
  position: absolute;
  bottom: 200px;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 1024px) {
  .sketch-backstretch {
    background-position: 100%;
  }
}

@media screen and (max-width: 850px) {
  .sketch-backstretch {
    .backstretch-main {
      font-size: 50px;
    }
  }
}

@media screen and (max-width: 550px) {
  .sketch-backstretch {
    .backstretch-main {
      font-size: 30px;
    }
    .backstretch-tag {
      font-size: 15px;
    }
  }
}
