.Experience {
  .Highlights {
    font-weight: 500;
    margin-top: 10px;
  }

  .Period {
    margin-bottom: 20px;

    .Date-range {
      margin: 0 10px;
    }
  }
}

@media screen and (max-width: 700px) {
  .Experience {
    .Highlights {
      text-align: center;
    }
  }
}
