.Technical .Line {
  background-color: #61c0bf;
}

.Technical .Langauges {
  font-weight: 500;
}

.Technical .Col-item::after {
  content: "•";
  color: #61c0bf;
}

.Technical .Col-item:last-child::after {
  content: "";
}

.Technical .Skills {
  list-style-type: none;
  padding: 0 10px;
  margin: 0;
}

.Technical .Skills p {
  margin-bottom: 0.5rem;
}
