.projects {
  .project {
    padding: 60px 0;

    .project-image,
    .project-content {
      align-content: center;
      display: flex;
      flex-wrap: wrap;
      text-align: left;
    }

    .project-content {
      .content {
        padding-bottom: 10px;

        .summary {
          padding-top: 20px;
        }
      }

      .content {
        padding-top: 10px;
        width: 100%;
      }
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    .project-image {
      .image-link {
        display: inline-block;
        position: relative;
        transition: 0.5s;
        width: 100%;

        img {
          border-radius: $border-radius;
          max-height: 350px;
          object-fit: cover;
          width: 100%;
        }
      }
    }
  }

  .project-panels:nth-child(even) {
    .row {
      flex-direction: row-reverse;
    }
  }
}

@media screen and (max-width: 700px) {
  .projects {
    .project-image {
      padding-bottom: 30px;
    }
  }
}