@import "../shared/Portfolio.scss";
@import "../shared/Palette.scss";

.skills {
  .skill-items {
    align-items: center;
    border-radius: $border-radius;
    display: flex;
    font-weight: 500;
    margin-bottom: 30px;
    min-height: 160px;
    padding: 10px;
    padding-top: 10px;

    @include themed() {
      color: t($col-text-title);
    }

    .col {
      max-width: 150px;
      min-width: 150px;
      padding: 0 5px;

      @include themed() {
        text-shadow: 0 0 25px t($col-shadow);
      }
    }
  }

  .skills-small {
    .col {
      max-width: 110px !important;
      min-width: 110px !important;
    }
  }

  .skills-input {
    border-radius: $border-radius;
    font-size: 2em;
    margin: 10px 0;
    text-align: center;
    transition: 0.5s;
    width: 50%;

    @include themed() {
      background: t($col-bg-light);
      border: 1px solid t($col-bg-dark);
      color: ft($theme-dark, $col-text-main);
    }

    &:focus-within {
      width: 100%;
    }
  }
}

@include alternating-section-colouring() using ($bg, $color, $alt-color) {

  .skills-input,
  .skill-items {
    @include themed() {
      background: ft($theme-dark, $alt-color);
    }
  }
}

@media screen and (max-width: 700px) {
  .skills {
    .skill-items {
      margin: 20px 0;
    }

    .col {
      flex-basis: 0;
    }

    .search {
      text-align: center;
    }
  }
}