.Home {
  margin: 20px;
  display: inline-flex;
}

.Home img {
  border-radius: 3px;
}

.Home .Home-container {
  display: flex;
  margin: 10px;
}

.Headshot {
  height: 400px;
}

.Card {
  background-color: rgba(77, 168, 202, 1);
  width: 500px;
  height: 100%;
  color: #fff;
  border-radius: 3px;
}

.Card-title {
  margin: 10px;
  font-size: 20px;
  font-weight: 500;
}
